@import '../css/root';
@import '../css/mixin';

.contact_container {
    padding: 2em 4em;
    background-image: linear-gradient(to right bottom, #1651a3, #074182, #165492, #448bd2, #4480d4);
}

.contact_container h2 {
    text-align: center;
    margin: 1em 0em;
}


.contact_content {
    @include gridLayout(2, 1, 1em, 1em);
}

.contact_content form {
    padding: 2em;
    background-color: $lightColor;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: $primaryColor;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.contact_content form input,
.contact_content textarea {
    width: 100%;
    padding: 1em 0.5em;
    background-color: #dedede;
    border: 1.5px solid transparent;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.contact_content textarea {
    height: 20vh;
}


.contact_content form input:focus-within,
.contact_content textarea:focus-within {
    border: 1.5px solid $primaryColor;
}



.item_field a {
    margin-top: 2em;
    width: 200px;
    border: 1.5px solid #b3b3b3a5;
    box-shadow: #ffffffa5 0px 0px 0px 2px, rgba(255, 255, 255, 0.445) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.contact_content iframe {
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 768px) {
    .contact_content {
        @include gridLayout(1, 1, 2em, 2em);
    }
                
    .contact_container {
        padding: 2em;
    }
}